:root {
  --red-primary: #F75961;
  --green-primary: #008392;
  --background-primary: #F9F9FB;
  --text-color-primary: #222222;
  --text-highlight: #D33852;
  --text-color-secondary: #717171;
  --text-color-heading-primmary: #393939;
  --text-color-heading-secondary: #686868;
  --disabled-background: #EBEBEB;
  --disabled-text: #B0B0B0;
  --disabled-border: #E5E5E5;
  --skelleton-color: #f0eff1;
}