 .dropdownMenuItem {
    color: var(--text-color-secondary) !important;
    font-size: 0.8rem !important;
    height: 40px !important;
 }

 .dropdownMenuItem:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
 }

 .dropdownMenuItem:last-child {
     color: var(--red-primary) !important;
 }